@import "core/styles/base";

.task {
	padding: 14px;

	color: $theme-light-color-text;

	background-color: #fff;

	border-radius: 4px;

	box-shadow: 0px 1px 2px 0px #00000040;

	&:hover {
		& .task__entries_right {
			opacity: 30%;
		}
	}

	&__title {
		min-height: 21px;

		font-size: 14px;
		font-weight: 550;
		line-height: 21px;
	}

	&__entries {
		display: flex;
		justify-content: space-between;

		margin-top: 10px;

		&_left {
			display: flex;
		}

		&_right {
			display: flex;

			opacity: 0%;

			transition: opacity 0.3s ease;

			&:hover {
				opacity: 30%;
			}
		}
	}

	&__user {
		width: 21px;
		height: 21px;

		background-size: contain;

		border-radius: 50%;

		&_male {
			background-image: url("core/assets/images/avatars/male.png");
		}

		&_female {
			background-image: url("core/assets/images/avatars/female.png");
		}
	}

	&__label {
		margin-left: 10px;
		padding: 4px 6px;

		font-size: 10px;
		font-weight: 550;
		line-height: 13px;

		color: #fff;

		border-radius: 3px;

		@include colorSet(background-color, $statusColors);
	}

	&__button {
		width: 21px;
		height: 21px;

		&_edit {
			background-image: url("core/assets/svg/edit.svg");
		}

		&_delete {
			background-image: url("core/assets/svg/delete.svg");
			background-size: 16px 15px;
			background-position: center center;
			background-repeat: no-repeat;
		}

		& + & {
			margin-left: 4px;
		}
	}
}
