.project-header {
	@media screen and (width <= 859px) {
		text-align: center;
	}
}

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 36px;

	margin-top: 40px;
}
