@import "core/styles/base";

.card {
    display: flex;
    flex-direction: column;
	gap: 10px;
	flex-shrink: 0;

    min-width: 312px;

	margin-bottom: 36px;
	padding: 10px;

	color: #fff;

	background-color: #000;

	border-top: 5px solid #0000001f;
	border-radius: 4px;

	@include colorSetWithBackgroundImage(background-color, $statusColors, ".status__icon");

	@media screen and (width <= 1439px) {
		margin-left: 36px;
		margin-right: 36px;
	}

	&__title {
		display: flex;
		align-items: center;

		font-size: 16px;
		font-weight: 650;
		line-height: 21.86px;

		& .status__icon {
			margin-right: 8px;

			height: 16px;
			width: 16px;

			margin-top: -2px;
		}
	}
}
