$theme-light-color-text: #171717;
$theme-light-color-background: #fff;

$theme-light-color-status-todo: #59b4d1;
$theme-light-color-status-in-progress: #d0935a;
$theme-light-color-status-review: #945ad1;
$theme-light-color-status-done: #59d090;
