@import "core/assets/fonts/avenir/stylesheet.css";

@import "core/styles/base";

:root {
	font-family: "Avenir Next Cyr", system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: $theme-light-color-text;

	background-color: $theme-light-color-background;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	display: flex;

	min-height: 100vh;

	margin: 0;
	padding: 0;
}

a {
	font: inherit;
	color: $theme-light-color-text;

	text-decoration: underline;
}

a:hover {
	opacity: 70%;
}

h1 {
	font-size: 38px;
	font-weight: 650;
	line-height: 51.91px;
	letter-spacing: -0.02em;
}

button {
	padding: 0.6em 1.2em;

	font: inherit;

	background-color: #1a1a1a;

	border-radius: 8px;
	border: 1px solid transparent;

	cursor: pointer;

	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 2px auto -webkit-focus-ring-color;
}

#root {
	max-width: 1440px;
	width: 100%;
	min-height: 828px;

	margin: 0 auto;
	padding: 36px;

	background-image: url("core/assets/svg/home.svg");
	background-position: center center;
	background-repeat: no-repeat;

	box-sizing: content-box;
}
